In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("Cleansing the data/result clean data.xlsx")

In [5]:
df

,predicted_id,New_Audit_id,Audit_ID,Facility_ID,Status,Auditor1,Auditor2,Auditor3,Au date,Manuf,...,Remarks,Metric:,Case:,Depth:,Energy:,Energy_FFF :,Gantry:,Mode:,Unidentified_column :,predictedValue
0,289713_1_1,289713_1,289713,Whispered Okapi,NaN,NaN,NaN,NaN,2013-03-22,Healthy Crocodile,...,PxVar2106001NA,PxVar,2,10,6.0,0.0,0,1,NaN,-0.011864
1,289713_1_7,289713_1,289713,Whispered Okapi,NaN,NaN,NaN,NaN,2013-03-22,Healthy Crocodile,...,PxVar3106001NA,PxVar,3,10,6.0,0.0,0,1,NaN,-0.008924
2,289713_1_19,289713_1,289713,Whispered Okapi,NaN,NaN,NaN,NaN,2013-03-22,Healthy Crocodile,...,PxVar415NANA01NA,PxVar,4,15,NaN,NaN,0,1,NaN,-0.013807
3,289713_1_20,289713_1,289713,Whispered Okapi,NaN,NaN,NaN,NaN,2013-03-22,Healthy Crocodile,...,PxVar48NANA01NA,PxVar,4,8,NaN,NaN,0,1,NaN,-0.011913
4,289713_1_21,289713_1,289713,Whispered Okapi,NaN,NaN,NaN,NaN,2013-03-22,Healthy Crocodile,...,PxVar515NANA01NA,PxVar,5,15,NaN,NaN,0,1,NaN,-0.013800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43471,368829_2_464,368829_2,368829,Klutzy English Cocker Spaniel,NaN,Big Lemming,Oval Penguin,NaN,2023-02-14,Healthy Crocodile,...,MU1415101combined3NA,MU,14,15,10.0,1.0,combined,3,NaN,1206.000000
43472,368829_2_465,368829_2,368829,Klutzy English Cocker Spaniel,NaN,Big Lemming,Oval Penguin,NaN,2023-02-14,Healthy Crocodile,...,MU151560combined3NA,MU,15,15,6.0,0.0,combined,3,NaN,960.000000
43473,368829_2_466,368829_2,368829,Klutzy English Cocker Spaniel,NaN,Big Lemming,Oval Penguin,NaN,2023-02-14,Healthy Crocodile,...,MU1515100combined3NA,MU,15,15,10.0,0.0,combined,3,NaN,700.000000
43474,368829_2_467,368829_2,368829,Klutzy English Cocker Spaniel,NaN,Big Lemming,Oval Penguin,NaN,2023-02-14,Healthy Crocodile,...,MU151561combined3NA,MU,15,15,6.0,1.0,combined,3,NaN,1014.000000
43475,368829_2_468,368829_2,368829,Klutzy English Cocker Spaniel,NaN,Big Lemming,Oval Penguin,NaN,2023-02-14,Healthy Crocodile,...,MU1515101combined3NA,MU,15,15,10.0,1.0,combined,3,NaN,1303.000000